<template>
  <div id="app">
    <div class="container">
      <div class="header">
        <div class="card my-5">
          <div class="card-body">
            <div class="cart-item-vendor.append">
            <h5 class="text-center card-title">{{items[index].store}}</h5>
            <p class="text-center text-muted card-text display-4">Rp. {{items[index].store.products[0].price}}</p>
            <button :disabled="isInCart" v-on:click="$emit('add-to-cart',items)" class="btn btn-info form-control">
                {{isInCart ? 'Ditambahkan': 'Tambahkan'}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default{
    props: ['product','isInCart']
}
</script>