<template>
<body>
<div class="header">
  <div class="header-text">Keranjang Belanja</div>
</div>
<div class="cart-container flex-column">
  <div style="margin-left:5px;margin-bottom:20px">
    <div class="page-tracking">Home > Keranjang Belanja</div>
    <div class="page-title">Keranjang Belanja</div>
  </div>
  
  <div class="cart-display">
    <div class="cart-item-container">
      <div id="app" style="color:#000">
  
        <div v-for="(item,index) in info.data.items" v-bind:key="(item,index)" class="cart-vendor-list flex-column">
            <div class="vendor-section flex-row">
              <img src="@/assets/vendor.png">
              <div class="vendor-name">{{ item['store']['name'] }}</div>
            </div>
            <div v-for="produk in item['store']['products']" v-bind:key="produk" id="cart-item-129" class="item-list">
            <div class="cart-items-byVendor flex-row">
              <img class="cart-items-productImage" v-bind:src="produk['stuff']['image_url']">
              <div class="cart-items-main">
                <div class="cart-product-text u-text-ellipsis">{{ produk['name'] }}</div>
                <div class="flex-row" style="margin-top:5px;">
                  <div class="btn-min-c">
                    <button v-on:click="decrement(produk.id,index)" :disabled="jumlah[produk.id]<=1" id="btn_min" class="btn-min button-qty" style="border-radius:2px 0 0 2px">-</button>
                  </div>
                  <input type="number" class="qty-text" v-model="jumlah[produk.id]"  :class="{invalid:userChoice < 1 || userChoice > 5}" readonly>
                  <div class="btn-plus-c">
                  <button v-on:click="increment(produk.id,index)" :disabled="jumlah[produk.id]>=produk.stuff.stock" id="btn_plus" class="btn-plus button-qty" style="border-radius:0 2px 2px 0">+</button>
                  </div>
                  <input class="price-text" type="hidden">
                  <input class="max-qty" type="hidden">
                </div>
              </div>
              <div class="cart-product-text" style="margin-left:20px;">Rp {{ produk.price*jumlah[produk.id] }}
              </div>
              <div id="del-item-1923" class="cart-item-del"></div>
            </div>
            <input type="hidden" value=""></div>
            <div class="flex-column" style="padding:10px 20px">
              <div class="cart-product-text" style="width:100%">
                Subtotal: <span id="subtotal-byVendors-129" class="subTotal-vendors"> Rp. {{ subt[index] }}</span>
              </div>
              <input id="subtotal-temp-0" type="hidden">
              <div style="color:#777272">Harga belum termasuk ongkos kirim</div>
            </div>
          </div> 
      </div>
    </div>
    <div class="cart-summary-container">
      <div class="vendor-section">
        <div class="vendor-name" >Bayar sekaligus</div>
      </div>
      <div class="cart-summary-total">
        <div class="cart-total-text flex-row">
          <div style="width:30%">
            Total Belanja
          </div>
          <div id="total-price-cart">
            Rp. {{total}}
          </div>
        </div>
        <input id="index-temp" type="hidden">
        <button class="button-payment-cart">
          Bayar Sekaligus
        </button>
      </div>
    </div>
  </div>
</div>  
</body>
</template>

<script>

export default {
  name: "app",
  data() {
    return {
      info: null,
      jumlah: [],
      subt:[],
      total:0
    }
  },
  methods: {
    increment(i,d) {
      this.jumlah[i] = Number(this.jumlah[i])+1;
      this.subt[d]=0;
            for (let j = 0; j < this.info.data.items[d].store.products.length; j++) {
              if(this.info.data.items[d].store.products[j].id==i){
                  this.subt[d]=Number(this.subt[d])+this.info.data.items[d].store.products[j].price*this.jumlah[i];
              }else{
                this.subt[d]=Number(this.subt[d])+this.info.data.items[d].store.products[j].price*this.jumlah[this.info.data.items[d].store.products[j].id];
              }

            }
            this.total =0;
            
            for (let i =0; i < this.info.data.items.length; i++) {
                this.total=this.total+this.subt[i];
            }
    },
    decrement(i,d) {
      this.jumlah[i] = Number(this.jumlah[i])-1;
      this.subt[d]=0;
            for (let j = 0; j < this.info.data.items[d].store.products.length; j++) {
              if(this.info.data.items[d].store.products[j].id==i){
                  this.subt[d]=Number(this.subt[d])+this.info.data.items[d].store.products[j].price*this.jumlah[i];
              }else{
                this.subt[d]=Number(this.subt[d])+this.info.data.items[d].store.products[j].price*this.jumlah[this.info.data.items[d].store.products[j].id];
              }
            }
            this.total =0;
            
            for (let i =0; i < this.info.data.items.length; i++) {
                this.total=this.total+this.subt[i];
            }
    },
  },
  mounted() {
    this.axios.get('https://api.myjson.com/bins/1a1cdw')
      .then(response => {
        this.info = response;
        var tempData = [];
        var tempData2 = [];
        for (let i = 0; i < this.info.data.items.length; i++) {
          for (let j = 0; j < this.info.data.items[i].store.products.length; j++) {
            console.log(this.info.data.items[i].store.products[j])
            tempData.push(this.info.data.items[i].store.products[j].id);
          }
          tempData2.push(this.info.data.items[i].store.id);
        }
       
           this.jumlah = Object.assign({},...tempData.map(key => ({[key]: 1})));
           this.subt = Object.assign({},...tempData2.map(key => ({[key]: 0}))); 

           for (let i = 0; i < this.info.data.items.length; i++) {
              this.subt[i]=0;
              for (let j = 0; j < this.info.data.items[i].store.products.length; j++) {
          
                this.subt[i]=Number(this.subt[i])+this.info.data.items[i].store.products[j].price*this.jumlah[this.info.data.items[i].store.products[j].id];
            }
            this.total = this.total+this.subt[i];
           }
          

          
        })
  }
}
</script>

<style>
body {
  color: #f5f5f5;
  font-family: "Avenir", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  direction: "ltr";
  font-size: 14px; 
}

button {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  width:100%;
  background: #d71149;
  height:70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  color:#fff;
  font-weight: bold;
  text-align: center;
  font-size: large;
}

.cart-container {
  width:90%;
  margin:0 auto;
}

.page-tracking {
  color: #777272;
  font-size: 14px;
  margin: 20px 0;
}

.page-tracking:hover {
  color: #d71149;
  cursor: pointer;
}

.page-title {
  font-size: 24px;
  color:#333;
  font-weight: bold;
}

.cart-display {
  display: flex;
  width:100%;
  flex-direction: row;
}

.cart-item-container {
  width:56%;
  margin-right:4%;
}

.cart-summary-container {
  width:40%;
  border:1px solid#d3d2d2;
  border-radius:3px;
  background-color: #fff;
  height:200px;
}

.cart-vendor-list {
  border:1px solid#d3d2d2;
  border-radius:3px;
  width:100%;
  background-color: #fff;
  margin-bottom:20px;
}

.vendor-section {
  padding: 20px;
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
}

.vendor-section img {
  width:24px;
  height: 24px;
}

.vendor-name {
  color:#333;
  font-weight: bold;
  font-size: 16px;
  margin:3px 20px 0;
}

.cart-items-byVendor {
  padding:20px;
  border-bottom: 1px solid #eee;
}

.cart-items-productImage {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.cart-product-text {
  color:#333;
  font-size: 16px;
  width:15%;
}

.u-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: break-all;
  white-space: nowrap;
  width:100%;
}

.cart-items-main {
  display: flex;
  flex-direction: column;
  width:50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.qty-text {
  color:#333;
  width:40px;
  padding:5px 20px;
  text-align: center;
}

.button-qty {
  padding: 4px 15px;
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.btn-noAction {
  cursor: not-allowed;
}

.cart-item-del {
  background-image: url('assets/trash-can.png');
  background-size: 24px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  width:24px;
  height:24px;
  padding-left:10%;
}

.cart-item-del:hover {

  background-image: url('assets/trash-can2.png');
  background-size: 24px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  width:24px;
  height:24px;
  padding-left:10%;
}

#subtotal-byVendors {
  font-weight: bold;
}

.cart-summary-total {
  width:90%;
  display: flex;
  margin:auto;
  flex-direction: column;
}

.cart-total-text {
  padding:20px;
  border-bottom: 1px solid #eee;
  color:#333;
  font-size: 16px;
  font-weight: bold;
}

#total-price-cart {
  color:crimson;
  text-align: right;
  width:70%;
}

.button-payment-cart {
  width:100%;
  background-color: crimson;
  color:#fff;
  font-size: 20px;
  height:50px;
  margin-top:10px;
  font-weight: bold;
  border-radius: 4px;
  border:0px;
}
</style>